@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.neumorphic {
  background: #f0f0f3;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}

.neumorphic-inset {
  background: #f0f0f3;
  box-shadow: inset 20px 20px 60px #bebebe,
              inset -20px -20px 60px #ffffff;
}
